@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --sidebar-width: 300px;

  --colors-main: darkslateblue;
}

* {
  box-sizing: border-box;
  transition: all ease .2s;

  -webkit-tap-highlight-color: transparent;

  --theme: rgb(129, 129, 129);
  --theme-black: rgb(110, 110, 110);
  --theme-light: rgb(101, 101, 102);
  --theme-back: #fff;
  --error: #ff2828;
}

body {
  font-family: 'Roboto', sans-serif;
}

#root {
  min-height: 100vh;
}